<!DOCTYPE html>
<html lang="en" th:replace="~{index :: parent(~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div id="content">
    <p>
        Like a war file, a Spring Boot application is not intended to be used as a dependency. If your
        application contains classes that you want to share with other projects, the recommended approach
        is to move that code into a separate module. The separate module can then be depended upon by
        your application and other projects.
        If you cannot rearrange your code as recommended above, Spring Boot’s Maven and Gradle plugins
        must be configured to produce a separate artifact that is suitable for use as a dependency. The
        executable archive cannot be used as a dependency as the executable jar format packages
        application classes in BOOT-INF/classes. This means that they cannot be found when the executable
        jar is used as a dependency.
        To produce the two artifacts, one that can be used as a dependency and one that is executable, a
        classifier must be specified. This classifier is applied to the name of the executable archive, leaving
        the default archive for use as a dependency.
    </p>
</div>
</body>
</html>